/* INDEX */

*{
    margin: 0;
    padding: 0;
}

.background-image{
    background-image: url(images/Krusty\ Krab\ logo\ bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    height: 100vh;
}

.overlay{
    max-width: 700px;
    margin: auto;
    height: 50vh;
    top: 75px;

    text-align: center;
    justify-content: center;

    position: relative;
    
}

.overlay{

    color: whitesmoke;
    text-shadow: 0 0 7px black;

}

.overlay h1{
    font-size: 50px;
}
.overlay p{
    font-size: 30px;
    position: relative;
    top: 10%;
}

/* .button-door{
    background: black;
    margin: auto;
    border: none;
    position: absolute;
    top: 50vh;
    left: 50vh;
    width: 150px;
    height: 160px;
}

.button-door:hover{
    background: rgba(255, 255, 255, 0.234);
} */

